
<nav class="navbar  nav">
  <div class="container">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link btn btn-success" href="">first page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-success" href="">next</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-success" href="">con</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-3 element text-center">
  <div class="container mt-5 element">
    <br><br>
    <h2>เข้าสู่การทำงาน</h2>
    <p>เลือกการทำงานที่ต้องการ</p>
    <button type="button" class="btn btn-primary active">เข้าสู่พื้นที่</button>
    <button type="button" class="btn btn-primary active">แสดงผลข้อมูล</button>
    <a href="#" class="btn btn-primary disabled">สู่ขั้นตอนถัดไป</a>
  </div><br>
</div>
<!-- เนื้อหา outlook -->
<div class="container  ">
  <div class="lookout text-center">
    <h1 class="align-items-center">outfit</h1>
    <div></div>
  </div>
  <!-- ตาราง -->
  <div class="lookout text-center">
    <table class="table ">
      <thead class="text-center">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody class="text-center">
      <tr>
        <td>name</td>
        <td>lastname</td>
        <td>address</td>
      </tr>
      <tr>
        <td>name</td>
        <td>street</td>
        <td>San Francisco</td>
      </tr>
      </tbody>
    </table>

  </div>
  <br>
  <button class="cen" type="button" onclick="window.location.href = 'app-home'" >back</button>
</div>

<footer id="site-footer" class="text-center">


</footer>
<router-outlet></router-outlet>
